server:
  port: 8080

security:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 3600000

logging:
  level:
    root: INFO
    com.isp.scrm: INFO
management:
  endpoints:
    web:
      exposure:
        include: health
