spring:
  application:
    name: scrm
  profiles:
    active: dev

security:
  jwt:
    secret: "CHANGE_ME_LATER"
    issuer: "scrm-api"
    subject: "scrm-technical-client"
    type: "TECH"
    expiration-days: 90

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
